#footer-button {
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.footer-btn-bg {
    width: 100%;
    height: 105px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-btn-mini {
    width: 350px;
    height: 55px;
    text-align: center;
}

.footer-btn-mini input {
    width: 350px;
    height: 40px;
    border-radius: 35px;
    border: none;
    background-color: mediumseagreen;
    color: white;
    font-size: 15px;
}