.agreement-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.agreement-header-top {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
}

.agreement-information {
    padding: 0 1rem;
    margin-top:80px;
}

.agreement-name {
    margin-bottom: 30px;
}

.agreement-name p{
    font-size: 25px;
}

.agreement-title p {
    font-size: 18px;
    font-weight: bold;
}

.agreement-title-information p {
    font-size: 14px;
}

.agreement-title-information2 p {
    margin:  5px 5px 0 10px;
    font-size: 14px;
}

.agreement-information-box {
    margin-bottom: 30px;
}

.agreement-information-2 p {
    font-size: 14px;
    font-weight: bold;
}