.best-header-bottom {
    box-shadow: 0px 5px 4px -4px #d3d3d385;
}

.best-header-sub {
    white-space: nowrap;
}

.best-header-sub div nav ul::-webkit-scrollbar {
    display: none;
}

.best-product .best-product-list {
    margin-top: -8%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_img img {
    width: 173.95px;
    height: 173.95px;
    border-radius: 5px;
}


.count {
    color: white;
    background-color: #00a862;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    width: 25px;
    height: 20px;
    position: relative;
    top: 2.8rem;
    left: 3%;
}