section#buy {
    margin-top: 20%;
}

section#buy .buy-txt{
    font-size: 25px;
}

section#buy .delivery-txt{
    font-size: 17px;
    height: 50px;
}

section#buy .purchase p{
    font-size: 25px;
}

section#buy .ship-info p{
    font-size: 17px;
    height: 50px;
}

section#buy .address-box{
    text-align: center;
    height: 130px;
}

section#buy .address-box span{
    font-size: 13px;
}

.item-thum img{
    width: 20px;
    height: 20px;
}

.info-btn img{
    width: 60px;
    height: 60px;
}

.item-info-subject{
    font-size: 15px;
}

section#buy .address-box .address-btn {
    width: 100px;
    height: 30px;
    color: green;
    border: solid 1px green;
    border-radius: 30px;
    background: none;
}

section#buy .item-information-box{
    background-color: rgb(240, 237, 237);
    height: 120px;
}

section#buy .item-information-box button{
    width: 100%;
    font-size: 15px;
    border: none;
}

section#buy .item-information-box .item-information-btn{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

section#buy .item-information-box .item-information-btn .down-icon img{
    width:20px;
    height: 20px;
}

section#buy .item-information-box .item-information-btn .item-img img{
    width: 60px;
    height: 60px;
}

section#buy .item-information-box .item-information-btn .item-img-txt{
    font-size: 15px;
}

.buy-recommand-md {
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray; 
    height: 180px;
}

.buy-type {
    height: 60px;
}

.buy-type p {
    font-size: 18px;
}

.buy-recommand-md .item-coupon-box {
    height:70px; 
    position: relative;
    margin: 10px;
}

section#buy2 .item-coupon-box{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 80px;
}

section#buy2 .item-coupon-box button{
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: white;
    height: 60px;
}

section#buy2 .item-coupon-box .item-coupon-btn {
    display: flex;
    justify-content: space-between;
}

section#buy2 .item-coupon-box .item-coupon-btn b{
    font-size: 20px;
}

section#buy2 .item-coupon-box .item-coupon-btn .coupon-txt img{
    width:20px;
    height: 20px;
}

.item-coupon-box nav li {
    font-size : 15px
}

.mobile {
    width: 50%;
}

.mobile b {
    font-size: 20px;
}

.item-coupon-btn div span b{
    font-size: 20px;
}

section#buy2 .item-coupon-box{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 80px;
}

.buypage-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0px;
    border: 0;
    box-shadow: 0px 4px 13px 1px lightgrey;
    background: #fff;

}

.buypage-footer a{
    width: 90%;
}

.buypage-buy-btn {
    border-radius: 30px;
    background-color: #00a862;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buypage-buy-btn p {
    color: white;
}
section#buy2 .item-coupon-box nav{
    width:50%;
}

section#buy2 .item-coupon-box nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

section#buy2 .item-coupon-box nav ul li{
    list-style: none;
    margin: 0 8px;
}

section#buy2 .item-coupon-box nav ul img{
    width:20px;
    height: 20px;
}
