.col-header-top {
    border-bottom-style: solid; 
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 50px;

    display: flex;
    align-items: center;
}

.col-header-top span {
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.col-header-top a {
    position: relative;
    right: 20px;
}

.col-header-top img {
    width: 15px;
    opacity: 0.5;
}

.table-collection .sub{
    background-color: #f7f7f7;
}

.collection-warning {
    font-size: 13px; 
    padding: 10px 14px; 
    font-weight: 600;
}

section#collection1 {
    padding: 0px 0px;
    margin-top: 8%;
}

section#collection1 b{
    font-size: 15px; padding: 0px 14px;
}

section#collection2 {
    padding: 0px 0px;
}

section#collection1 .information-collection{
    padding : 40px 14px;
    font-size: 13px;
}

section#collection1 .table-collection{
    padding: 14px;
}
section#collection1 .table-collection table {
    font-size: 13px;
    height: 100px;
    width: 100%;
    text-align: left;
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
}

section#collection1 .table-collection table td, th{
    border: 1px solid #dfdfdf;
    padding: 10px;
    font-size: 12px;
}

section#collection1 .table-collection table td{
    color: #828282;
}

section#collection1 .table-collection table th{
    color: #747474;
}