
section#event-banner {
  padding: 0px;
  margin-top: 104.8px
}

section h2{
  font-size: 1.2rem;
  font-weight: bold;
}


section#recommand-md {
  padding: 0px 14px;
}


section#recommand-md .recommand-product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
}

section .recommand-product-list::-webkit-scrollbar {
  display: none;
}

section .recommand-product-list .recommand-product-item {
  width: 200px;
  height: 300px;
  margin: 0px 14px;
  padding: 0px;
}

section .recommand-product-list .recommand-product-item:first-child {
  margin-left: 0px;
}

section .recommand-product-list .recommand-product-item:last-child {
  margin-right: 0px;
}

section#recommand-md .recommand-product-list2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

section#recommand-md .recommand-product-list3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: scroll;
}

section#recommand-md .recommand-product-list .recommand-product-item {
  width: 200px;
  height: 300px;
  margin: 0px 10px;
  padding: 0px;
}

section#recommand-md .recommand-product-list .recommand-product-item .recommand-product-item__img{
  width: 150px;
}

section .recommand-product-list .recommand-product-item .recommand-product-item__img img{
  width: 100%;
  border-radius: 5px;
}

.item-new {
  font-size: 0.8rem;
  color: #0db904;
  font-weight: lighter;
  font-style: italic;
}

.item-title {
  line-height: 1.3;
  letter-spacing: 1px;
}

.item-title2 {
  line-height: 1.3;
  letter-spacing: 1px;
  text-align: center;
}

.item-price span {
  font-weight: bold;
  font-size: 1.2rem;
}

#chunsik .chunsik-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#chunsik .chunsik-item img {
  width: 25%;
  height: auto;
}

#chunsik .chunsik-item .chunsik-item-info {
  width: 70%;
  margin-left: 5%;
}
section#chunsik {
  padding: 0px 14px;
}

#chunsik .chunsik-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#chunsik .chunsik-item img{
  width: 40%;
  height: auto;
}

#chunsik .chunsik-item{
  width: 70%;
  margin-left: 5%;
}

#chunsik .chunsik-item .chunsik-item-info{
  width: 160px; height: 140px;
  margin-left: auto;
}

section#recommand-md .recommand-product-list3 .recommand-product-item2{
  width: 200px;
  height: 200px;;
  margin: 0px 10px;
  padding: 0px;
}

