.header-top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 50px;
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: lightgray;
}

.header-top-item .menu-icon {
  width: 35%;
}

.header-top-item h1 {
  text-align: center;
  font-size: 1.0rem;
  width: 30%;
}

.header-top-item h1 a {
  text-decoration: none;
  color: var(--color-primary);
}

.header-top-item .back-icon {
  width: 35%;
}

.header-top-item nav {
  width: 35%;
}

.header-top-item img {
  width: 20px;
  height: auto;
  opacity: 0.5;
}

.header-top-item nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.header-top-item nav ul li {
  list-style: none;
  margin: 0 8px;
}

.header-top-item nav ul li:last-child {
  margin-right: 0px;
}

section#item-event-banner .event-banner .event-banner__item .event-banner__item__img .item_img {
  width: "100%";
  height: "100%";
}

section#item-event-banner {
  padding: 0px;
  margin-top: 50.8px;
}

.item-info {
  display: flex;
  align-items: baseline;
}

.container .bg {
  border-top-style: solid;
  border-width: 1px;
  border-top-color: lightgray;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0px;
  background-color: white;
}

.container .bg .buyminipage {
  width: 100%;
  height: 20px;
  display: -ms-inline-grid;
}

.container .bg .buybtn {
  width: 100%;
  height: 60px;
}

section .border-color {
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: lightgray;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.modal {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 70%;
  height: 300px;
  padding: 15px;
}

.modalBox button {
  display: block;
  width: 230px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.modal .modalBox .shareBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px 10px;
}

#recommand-md2 {
  margin-bottom: 90px;
}

.item-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0px;
  border: 0;
  box-shadow: 0px 4px 13px 1px lightgrey;
  background: #fff;
}

.item-buy-btn {
  border-radius: 30px;
  background-color: #00a862;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-buy-btn p {
  color: white;
}

section#recommand-md .item-info .item-info-1{
  font-size: 25px;
}

section#recommand-md .item-info .item-new{
  vertical-align: super;
}

section#recommand-md .item-info img{
  width:20px;
}

section#recommand-md .item-info .item-info-2{
  font-size: 0.8rem;
  color: var(--color-black);
}

section#recommand-md2 .item-product-info{
  font-size: 16px;
}

section#recommand-md2 .border-color img{
  width: 100%;
  height: auto;
}

section#recommand-md2 img{
  width: 100%;
  height: auto;
}