.login-header-top {
    margin: 3.5% 0% 0% 3%;
}

.login-header-top img {
    width: 12px;
    height: 14px;
}

.login-header-bot {
    margin-left: 3%;
    font-size: 1.5rem;
    font-weight: 600;
}

.login-header-bot p {
    margin-top: 4%;
}

.login-logo {
    margin-top: 40%;
}

.login-logo img {
    width: 60px;
    height: 60px;
}

.login-notice {
    margin-top: 5%;
}

.login-notice p {
    font-weight: 900;
    font-size: 1.3rem;
}

.login-notice .hello {
    margin-bottom: 0px;
}

.login-notice .starbucks {
    margin-top: 0px;
    margin-bottom: 2%;
}

.login-notice span {
    font-size: 0.8rem;
}

.id-pwd-input {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.input-box {
    position: relative;
    margin: 5% 0;
}

.input-box input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    font-size: 14pt;
    width: 100%;

    caret-color: blue;
}

.input-box input::placeholder {
    color: transparent;
}

input:placeholder-shown+label {
    color: black;
    font-size: 10pt;
    top: 0px;
}

input:focus+label,
label {
    color: black;
    font-size: 5pt;
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: -15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.input-box input:focus,
input:not(:placeholder-shown) {
    border-bottom: solid 1px #09a963;
    outline: none;
    font-weight: bold;
}

.find-btn-wrap {
    background: #fff;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
}

.find-btn-wrap ul {
    display: flex;
    text-align: center;
    padding: 0px;
    width: 70%;
}

.find-btn-wrap ul li {
    font-size: 10px;
    box-sizing: border-box;
    float: left;
    position: relative;
    vertical-align: top;
    width: 33.3%;
    list-style: none;
}

.find-btn-wrap ul li::after {
    margin-top: 2px;
    border-right: 1px solid #ddd;
    height: 12px;
    content: "";
    position: absolute;
    right: 0px;
}

.find-btn-wrap ul .last::after {
    border-right: 0;
}

.login-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;

    position: fixed;
    bottom: 0px;

    border: 0;
    box-shadow: 0px 4px 13px 1px lightgrey
}

.login-footer-btn {
    border-radius: 30px;
    background-color: #00a862;


    width: 90%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-footer-btn button {
    background-color: #00a862;
    width: 90%;
    height: 100%;
}
