.menu-header {
    margin-left: 20px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    box-shadow: none;
}

.menu-header-top {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    margin-right: 12%;

    position: relative;
    left: 20px;
}

.menu-header-top img {
    width: 15px;
    opacity: 0.5;
}

.menu-header-bottom {
    position: relative;
    bottom: 30px;
}

.menu-header-bottom a {
    font-weight: bold;
    font-size: 25px;
}

.menu-header-sub {
    position: relative;
    bottom: 20px;
}

.menu-header-sub a {
    display: flex;
    align-items: center;
}

section#menu-section {
    padding: 0px;
}

.menu-section {
    position: relative;
    margin-top: 45%;
}

.menu-section-top {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    color: slategray;
}

.menu-section-top a{
    text-decoration-line: none;
    color: inherit;
}

.menu-product-list {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;

}

.menu-product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-product-item .product-info {
    position: relative;
    bottom: 10px;
}

.product-img img{
    width : 100px;
    height : 100px;
    border-radius: 50%;
}

.menu-footer {
    background-color: #d3d3d338;
    height: 18.5rem;
}

.menu-footer-top a{
    text-decoration-line: none;
    color: inherit;
}

.menu-footer-top-button {
    display: grid;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    margin-top: 5px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-footer-top-button-description {
    grid-column: 1/2;
    margin-top: 20px;
}

.menu-footer-top-button-description span {
    font-weight: bold;
    font-size: 20px;
}

.menu-footer-top-button-description p {
    color: #8b8a8a;
    margin-top: 5px;
}

.menu-footer-top-button img {
    grid-column: 2/2;
    margin-right: 20px;
}

.menu-footer-top-button2 {
    display: grid;
    margin-top: 5px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
}

.menu-footer-top-button2-description {
    margin-top: 20px;
    grid-column: 1/2;
}

.menu-footer-top-button2-description span {
    font-weight: bold;
    font-size: 20px;
}

.menu-footer-top-button2-description p {
    color: #8b8a8a;
    margin-top: 5px;
}

.menu-footer-top-button2 img {
    grid-column: 2/2;
    margin-right: 20px;
}
