section#category .category-box nav ul li .category-b{
    color: green;
}

section#category2 details summary{
    text-align: center;
}

.searchresult-product-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}

.searchresult-product-item {
    width: 40%;
    height: 100%;
    margin: 0px 14px;
    padding: 0px;
}



.searchresult-product-item__img img{
    width: 100%;
    height: auto;

}

.recommand-product-item__info .item-title {
    width: 156px;
}

.item-price {
    margin-left: 0px;
}

.item-new {
    font-size: 0.8rem;
    color: #0db904;
    font-weight: lighter;
    font-style: italic;
}