.signup-header {
    box-shadow: none;
}

.signup-header-cancel {
    margin: 3.5% 0% 0% 3%;
    z-index: 999;
}

.signup-header img {
    width: 20px;
    height: auto;
    opacity: 0.5;
}

.signup-logo {
    padding: 0 25px;
    margin-top: 25%;
}

.signup-notice {
    margin-top: 10%;
    padding: 0 25px;
}

.signup-notice p {
    font-size: 25px;
}

.signup-notice .customer {
    margin-bottom: 0;
}

.signup-notice .welcome {
    margin-top: 0;
}

.signup-policy {
    margin-top: 15%;
    margin-bottom: 90px;
    padding: 0;
}

.signup-policy-top {
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.signup-policy-top input {
    margin-left: 7%;

    accent-color: #00a862;

    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
    color: white;
    transition: background 0.2s;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-policy-top input:checked {
    background: #02af65;
}

.signup-policy-top input::after {
    content: "\2713";
}

.signup-policy-bottom {
    margin: 0 6%;
}

.signup-policy-bottom input {
    accent-color: #00a862;

    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
    color: white;
    transition: background 0.2s;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-policy-bottom input:checked {
    background: #02af65;
}

.signup-policy-bottom input::after {
    content: "\2713";

}

.signup-policy-bottom-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-policy-bottom-list-subject {
    display: flex;
    align-items: center;
}

.arrow {
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.signup-policy-bottom-method {
    padding-left: 11%;
}

.signup-policy-bottom-method p {
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 12px;
}

.signup-policy-bottom-method-category {
    display: flex;
}

.signup-policy-bottom-method-category input {
    accent-color: #00a862;
}

.signup-policy-bottom-method-category :nth-child(3) {
    margin-left: 13%;
}

.signup-policy-bottom-method-category p {
    margin: 0;
}

.signupmodalBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
}

.submit-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid #e2e2e2;
    box-shadow: 0 -3px .3em 3px rgba(139, 139, 139, 0.08);
    background-color: var(--color-white);
}

.submit-container button{
    border-radius: 30px;
    width: 90%;
    height: 50px;
    background-color: #007042;
    border: none;
    color: var(--color-white);
    margin: 15px 0;
    letter-spacing: -0.2px;
    z-index: 101;
}

.swal-confirm-button {
    background-color: var(--color-primary) !important;
    border: none !important;
    color: var(--color-white) !important;
}
