@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KCCChassam' !important;
}

.email-password-box {
    margin: 20px;
}

.greeting {
    margin-top: 20%;
}

.userName-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
}

.userName-box p{
    margin: 0px;
    width: 30%;
}

.userName-box input{
    margin: 0px;
    border: none;
    width: 70%;
}

.birthday-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
    background-color: white;
}

.birthday-box p{
    margin: 0px;
    width: 30%;
}

.birthday-box input{
    margin: 0px;
    border: none;
    width: 40%;
}

.phone-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
}

.phone-box p{
    margin: 0px;
    width: 30%;
}

.phone-box input{
    margin: 0px;
    border: none;
    width: 50%;
}

.phone-box button{
    margin: 0px;
    width: 20%;
}

.email-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
}

.email-box p{
    margin: 0px;
    width: 30%;
}

.email-box input{
    margin: 0px;
    border: none;
    width: 50%;
}

.email-box button{
    margin: 0px;
    width: 20%;
}

.confirm-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 15px 0px;
}

.confirm-box p{
    margin: 0px;
    width: 30%;
}

.confirm-box input{
    margin: 0px;
    border: none;
    width: 50%;
}

.confirm-box button{
    margin: 0px;
    width: 20%;
}

.password-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
}

.password-box p{
    margin: 0px;
    width: 30%;
}

.password-box input{
    margin: 0px;
    border: none;
    width: 70%;
}

.confirmPassword-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
}

.confirmPassword-box p{
    margin: 0px;
    width: 30%;
}

.confirmPassword-box input{
    margin: 0px;
    border: none;
    width: 70%;
}

.userNickname-box {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
    margin: 30px 0px;
}

.userNickname-box p{
    margin: 0px;
    width: 30%;
}

.userNickname-box input{
    margin: 0px;
    border: none;
    width: 50%;
}

.userNickname-box button{
    margin: 0px;
    width: 20%;
    font-size: 13px;
}

section#nickname-notice-box {
    padding : 0;
}

section#nickname-notice-box p {
    font-size: 12px;
    color: #888a88;
    font-family: 'KCCChassam';
}