.email-password-box {
    margin: 20px;
}

.greeting {
    margin-top: 20%;
}

.email-box {
    display: -webkit-box;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
}

.email-box p{
    margin: 0px;
    margin-right: 20px;
}

.email-box input{
    margin: 0px;
    border: none;
}

.email-box button{
    margin: 0px;
    margin-left: 20px;
}

.password-box {
    display: -webkit-box;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
}

.password-box p{
    margin: 0px;
    margin-right: 30px;
}

.password-box input{
    margin: 0px;
    border: none;
}

.confirmPassword-box {
    display: -webkit-box;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: lightgray;
    height: 30px;
}

.confirmPassword-box p{
    margin: 0px;
    margin-right: 30px;
}

.confirmPassword-box input{
    margin: 0px;
    border: none;
}