<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-top"
                style="border-bottom-style: solid; border-width: 1px; border-bottom-color: lightgray;">
                <div class="back-icon">
                </div>
                <h1 style="color: black;">배송지 변경</h1>
                <nav>
                    <ul>
                        <li><a href="buypage.html"><img src="../images/icons/close.png" alt="뒤로가기"></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section style="margin: 12% 0">
            <div style="padding: 10px; margin: 5px;">
                <h2 style="font-size: 25px;">배송지 정보</h2>
                <div class="address-box-list">
                    <div class="address-border-color">
                        <input class="input-address-box" type="text" placeholder="주소별칭" />
                    </div>
                    <div class="address-border-color">
                        <input class="input-address-box" type="text" placeholder="받는 분 *" />
                    </div>
                    <div class="address-border-color2">
                        <div class="address-border-color3">
                            <input class="input-address-box2" type="text" placeholder="우편번호 *" />
                        </div>
                        <div style="width: 30%;">
                            <button class="address-btn">주소 검색</button>
                        </div>
                    </div>
                    <div class="address-border-color">
                        <input class="input-address-box" type="text" placeholder="기본주소 *" />
                    </div>
                    <div class="address-border-color">
                        <input class="input-address-box" type="text" placeholder="상세주소 *" />
                    </div>
                    <div class="address-border-color">
                        <input class="input-address-box" type="text" placeholder="연락처1 *" />
                    </div>
                    <div class="address-border-color">
                        <input class="input-address-box" type="text" placeholder="연락처2" />
                    </div>
                    <div class="address-border-color" style="position: relative;">
                        <div style="position: absolute; bottom: 14px; left: 4px; font-size: 13px;">
                            <p>배송 메모</p>
                        </div>
                        <div style="width: 100%;">
                            <input class="input-address-box" style="text-align: left; background-color: white;"
                                type="button" value="배송 메모를 선택해 주세요." />
                        </div>
                    </div>
                    <div class="address-border-color4">
                        <input class="address-checkbox" type="checkbox" />
                        <p style="font-size: 15px; position: absolute; left: 70px;">배송지 정보 수집 및 이용 동의[필수]</p>
                        <a href="collection.html"><img src="../images/icons/next.png"
                                style="width: 20px; height: 20px;"></a>
                    </div>
                </div>
        </section>
        <section style="padding:0%">
            <div class="address-bg">
                <div class="address-mini-bg">
                    <a href="buypage.html"><input type="button" value="변경하기"></a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>