<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="menu-icon">
                <a href="menu.html"><img src="../images/icons/menu.svg" alt=""></a>
            </div>
            <h1><a href="index.html">온라인 스토어</a></h1>
            <nav>
                <ul>
                    <li><a href="search.html"><img src="../images/icons/search.svg"></a></li>
                    <li><a href="cart.html"><img src="../images/icons/shopping-cart.svg"></a></li>
                    <li><a href="mypage.html"><img src="../images/icons/user.svg"></a></li>
                </ul>
            </nav>
        </div>
        <div class="best-header-bottom">
            <div class="header-bottom">
                <nav>
                    <ul>
                        <li><a href="index.html">메인</a></li>
                        <li><a href="special.html">기획전</a></li>
                        <li class="active"><a href="best.html">베스트</a></li>
                        <li><a href="mypage.html">마이페이지</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="best-header-sub">
            <div class="header-sub">
                <nav>
                    <ul>
                        <li class="active">케이크</li>
                        <li>텀블러/보온병</li>
                        <li>머그/컵</li>
                        <li>라이프스타일</li>
                        <li>티/커피용품</li>
                        <li>세트</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="best-product">
        <div class="best-product-list">
            <div class="product-item">
                <p class="count">1</p>
                <div class="item_img">
                    <img src="https://shop-phinf.pstatic.net/20230215_64/1676424666767CNRjg_JPEG/77560500579518181_629284917.jpg?type=m510">
                </div>
                <div class="item_info">
                    <p class="item-new">New</p>
                    <p>부드러운 티라미수 롤케이크</p>
                    <p class="item-price"><span>19,900원</span></p>
                </div>
            </div>
            <div class="product-item2">
                <p class="count">2</p>
                <div class="item_img">
                    <img src="https://shop-phinf.pstatic.net/20221230_87/1672371248920KrduT_JPEG/73507032581228289_908311394.jpg?type=m510">
                </div>
                <div class="item_info">
                    <p>부드러운 고구마 생크림 케이크</p>
                    <p class="item-price"><span>33,000원</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="best-product2">
        <div class="best-product-list">
            <div class="product-item">
                <p class="count">3</p>
                <div class="item_img">
                    <img src="https://shop-phinf.pstatic.net/20221230_294/1672371457399tDq2z_JPEG/73507241105091598_1599621290.jpg?type=m510">
                </div>
                <div class="item_info">
                    <p>블루베리 치즈 케이크</p>
                    <p class="item-price"><span>19,900원</span></p>
                </div>
            </div>
            <div class="product-item2">
                <p class="count">4</p>
                <div class="item_img">
                    <img src="https://shop-phinf.pstatic.net/20221230_152/1672371405306IVKOz_JPEG/73507189011853712_324497504.jpg?type=m510">
                </div>
                <div class="item_info">
                    <p>더블 초콜릿 케이크</p>
                    <p class="item-price"><span>33,000원</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="best-product3">
        <div class="best-product-list">
            <div class="product-item">
                <p class="count">5</p>
                <div class="item_img">
                    <img src="https://shop-phinf.pstatic.net/20230215_274/1676424690223Q4bek_JPEG/77560524030735209_1274866820.jpg?type=m510">
                </div>
                <div class="item_info">
                    <p>별의 별 케이크</p>
                    <p class="item-price"><span>25,000원</span></p>
                </div>
            </div>

            <!-- <div class="product-item2">
                <p class="count">4</p>
                <div class="item_img">
                    <img src="https://shop-phinf.pstatic.net/20221230_152/1672371405306IVKOz_JPEG/73507189011853712_324497504.jpg?type=m510">
                </div>
                <div class="item_info">
                    <p>더블 초콜릿 케이크</p>
                    <p class="item-price"><span>33,000원</span></p>
                </div>
            </div> -->
        </div>
        
    </section>
</body>

</html>