<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <header class="cart-header">
        <div class="header-top">
            <div class="menu-icon">
                <a href="menu.html"><img src="https://cdn-icons-png.flaticon.com/128/9121/9121686.png" alt=""></a>
            </div>
            <h1><a href="index.html">온라인 스토어</a></h1>
            <div class="right-menu-icon">
                <a href=""><img src="https://cdn-icons-png.flaticon.com/512/864/864393.png"></a>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom-subject">
                <p>장바구니</p>
            </div>
            <div class="header-bottom-check">
                <div class="header-bottom-check-left">
                    <input type="checkbox" id="menu-cb"><span>전체 선택</span>
                </div>
                <div class="header-bottom-check-right">
                    <span>선택삭제</span> <span>|</span> <span>전체삭제</span>
                </div>
            </div>
        </div>
    </header>
    <!-- <section class="empty-cart">
        <img src="https://cdn-icons-png.flaticon.com/512/2838/2838895.png">
        <p>장바구니가 비어있습니다.</p>
    </section> -->
    <section class="cart-product">
        <div class="cart-product-category">
            <div class="cart-product-category-detail">
                <input type="checkbox" id="section-cb"><span>일반 상품</span>
            </div>
        </div>
        <div class="checkbox-border">
            <div class="checkbox-border-left">
                <input type="checkbox">
                <img src="../images/products/01.png">
            </div>
            <div class="checkbox-border-right">
                <p class="subject">23 SS 체리 콕시클 라벤더 콜드컵 591ml</p>
                <p class="price">55,000원</p>
            </div>
            <div class="cancel-button">
                <img src="https://cdn-icons-png.flaticon.com/512/864/864393.png">
            </div>
        </div>
        <div class="product-count">
            <p>수량:1개</p>
        </div>
        <div class="order-price">
            <span>주문 금액</span>
            <span>55,000원</span>
        </div>
        <div class="edit-buy">
            <table class="cart-product-table">
                <tbody>
                    <tr>
                        <td>주문 수정</td>
                        <td><a href=buypage.html>바로 구매</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <section class="cart-result">
            <div class="cart-result-detail">
                <p class="cart-result-detail-price">상품 1건 55,000원 + 배송비 0원=총 55,000원</p>
                <p class="cart-result-detail-tax">무료배송</p>
            </div>
            <a href="">
                <p class="cart-result-detail-more">더 담으러 가기</p>
            </a>
        </section>

        <div class="cart-product-category">
            <div class="cart-product-category-detail">
                <input type="checkbox" id="section-cb"><span>일반 상품</span>
            </div>
        </div>
        <div class="checkbox-border">
            <div class="checkbox-border-left">
                <input type="checkbox">
                <img src="../images/products/01.png">
            </div>
            <div class="checkbox-border-right">
                <p class="subject">23 SS 체리 콕시클 라벤더 콜드컵 591ml</p>
                <p class="price">55,000원</p>
            </div>
            <div class="cancel-button">
                <img src="https://cdn-icons-png.flaticon.com/512/864/864393.png">
            </div>
        </div>
        <div class="product-count">
            <p>수량:1개</p>
        </div>
        <div class="order-price">
            <span>주문 금액</span>
            <span>55,000원</span>
        </div>
        <div class="edit-buy">
            <table class="cart-product-table">
                <tbody>
                    <tr>
                        <td>주문 수정</td>
                        <td><a href=buypage.html>바로 구매</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <section class="cart-result">
            <div class="cart-result-detail">
                <p class="cart-result-detail-price">상품 1건 55,000원 + 배송비 0원=총 55,000원</p>
                <p class="cart-result-detail-tax">무료배송</p>
            </div>
            <a href="">
                <p class="cart-result-detail-more">더 담으러 가기</p>
            </a>
        </section>
    </section>

    <footer class="cart-footer">
        <div class="cart-footer-top">
            <p class="cart-footer-top-left">총 <span class="cart-footer-top-count"> 2</span>건 / 20건</p>
            <p class="cart-footer-top-right"><span class="cart-footer-top-total">77,900</span>원</p>
        </div>
        <div class="cart-footer-bot">
            <div class="cart-gift">
                <p>선물하기</p>
            </div>
            <div class="cart-buy">
                <a href="buypage.html"><p>구매하기</p></a>
            </div>
        </div>
    </footer>

</body>

</html>