<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="StarBucks Clone Site">
        <meta name="keywords" content="StarBucks, Clone, Site">
        <meta name="author" content="SpaLand">
        <link rel="stylesheet" href="../css/style.css">
        <title>StarBucks Clone Site</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="header-top" style="border-bottom-style: solid; border-width: 1px; border-bottom-color: lightgray;">
                    <div class="back-icon">
                    </div>
                    <h1 style="color: black; width: 400px;">배송지 정보 수집 및 이용 동의</h1>
                    <nav>
                        <ul>
                            <li><a href="address.html"><img src="../images/icons/close.png" alt="뒤로가기"></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section id="collection1" style="margin-top: 8%;">
                <div class="information-collection">
                    스타벅스 코리아를 운영하는 주식회사 에스씨케이컴퍼니는 온라인스토어 서비스를 제공하기 위하여 아래와 같이 고객님의 배송지 정보를 수집이〮용하려고 하오니, 내용을 확인 후 동의 여부를 결정하여 주시기 바랍니다.
                </div>
                <div>
                    <b style="font-size: 15px; padding: 0px 14px;">[필수] 배송지 정보 수집이〮용 내역</b>
                </div>
                <div class="table-collection">
                    <table>
                        <tr>
                            <td style="background-color: #f7f7f7;">수집•이용 목적</td>
                            <td>온라인 스토어 서비스 이용 및 상품 배송</td>
                        </tr>
                        <tr>
                            <td style="background-color: #f7f7f7;">항목</td>
                            <td>배송지 주소, 수신자 연락처, 수신자 이름</td>
                        </tr>
                        <tr>
                            <td style="background-color: #f7f7f7;">보유 및 이용 기간</td>
                            <th>회원 탈퇴 또는 동의 철회 시 까지</th>
                        </tr>
                    </table>
                </div>
                <div style="font-size: 14px; padding: 10px 14px; font-weight: 600;">
                    ※ 위의 배송지 정보 수집•이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 온라인 스토어 서비스 이용에 제한을 받을 수 있습니다.
                </div>
            </section>
            <section id="collection2">
                <div class="address-bg">
                    <div class="address-mini-bg">
                        <a href="address.html"><input type="button" value="확인"></a>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>