<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <header>
        <div class="login-header-top">
            <img src="https://cdn-icons-png.flaticon.com/512/860/860790.png">
        </div>
        <div class="login-header-bot">
            <p>로그인</p>
        </div>
    </header>

    <section class="login-logo">
        <img src="https://www.starbucks.co.kr/common/img/common/logo.png">
    </section>

    <section class="login-notice">
        <p class="hello">안녕하세요.</p>
        <p class="starbucks">스타벅스입니다.</p>
        <span>회원 서비스 이용을 위해 로그인 해주세요.</span>
    </section>

    <section class="id-pwd-input">
        <div class="input-box">
            <input class="id" type="text" maxlength="20" placeholder="아이디">
            <label for="id">아이디</label>
        </div>
        <div class="input-box">
            <input class="pwd" type="password" maxlength="20" placeholder="비밀번호">
            <label for="pwd">비밀번호</label>
        </div>
    </section>

    <section class="find-btn-wrap">
        <ul>
            <li><a href="">아이디 찾기</a></li>
            <li><a href="">비밀번호 찾기</a></li>
            <li class="last"><a href="">회원가입</a></li>
        </ul>
    </section>
    
    <footer class="login-footer">
        <div class="login-footer-btn">
            <span>로그인하기</span>
        </div>
    </footer>
</body>

</html>