<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <header class="menu-header">
        <div class="menu-header-top">
            <a href="index.html"><img src="https://cdn-icons-png.flaticon.com/512/864/864393.png"></a>
        </div>
        <div class="menu-header-bottom">
            <a>Welcome!</a>
        </div>
        <div class="menu-header-sub">
            <a>온라인 스토어에 오신 것을 환영합니다.</a>
        </div>
    </header>

    <section class="menu-section">
        <section class="menu-section-top">
            <div>
                <a href="">전체 상품 보기 ></a>
            </div>
        </section>
        <section class="menu-section-mid">
            <div class="menu-product-list">
                <div class="menu-product-item">
                    <div class="product-img">
                        <img src="../images/double_cake.jpg">
                    </div>
                    <div class="product-info">
                        <p>케이크</p>
                    </div>
                </div>
                <div class="menu-product-item">
                    <div class="product-img">
                        <img src="../images/double_cake.jpg">
                    </div>
                    <div class="product-info">
                        <p>텀블러/보온병</p>
                    </div>
                </div>
                <div class="menu-product-item">
                    <div class="product-img">
                        <img src="../images/double_cake.jpg">
                    </div>
                    <div class="product-info">
                        <p>머그/컵</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="menu-section-bot">
            <div class="menu-product-list">
                <div class="menu-product-item">
                    <div class="product-img">
                        <img src="../images/double_cake.jpg">
                    </div>
                    <div class="product-info">
                        <p>라이프스타일</p>
                    </div>
                </div>
                <div class="menu-product-item">
                    <div class="product-img">
                        <img src="../images/double_cake.jpg">
                    </div>
                    <div class="product-info">
                        <p>티/커피용품</p>
                    </div>
                </div>
                <div class="menu-product-item">
                    <div class="product-img">
                        <img src="../images/double_cake.jpg">
                    </div>
                    <div class="product-info">
                        <p>세트</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer class="menu-footer">
        <div class="menu-footer-top">
            <a href="special.html">
                <div class="menu-footer-top-button">
                    <div class="menu-footer-top-button-description">
                        <span>기획전</span>
                        <p>진행중인 기획전을 만나보세요.</p>
                    </div>
                    <img src="https://cdn-icons-png.flaticon.com/512/892/892528.png" ,
                        style="width: 20px; height: 20px;">
                </div>
            </a>
            <a href="best.html">
                <div class="menu-footer-top-button2">
                    <div class="menu-footer-top-button2-description">
                        <span>베스트</span>
                        <p>스타벅스의 베스트 상품을 만나보세요.</p>
                    </div>
                    <img src="https://cdn-icons-png.flaticon.com/512/892/892528.png" ,
                        style="width: 20px; height: 20px;">
                </div>
            </a>
        </div>
    </footer>
</body>

</html>