<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="menu-icon">
                    <a href="menu.html"><img src="../images/icons/menu.svg" alt=""></a>
                </div>
                <h1><a href="index.html">온라인 스토어</a></h1>
                <nav>
                    <ul>
                        <li><a href="search.html"><img src="../images/icons/search.svg"></a></li>
                        <li><a href="cart.html"><img src="../images/icons/shopping-cart.svg"></a></li>
                        <li><a href="mypage.html"><img src="../images/icons/user.svg"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom">
                <nav>
                    <ul>
                        <li><a href="index.html">메인</a></li>
                        <li><a href="special.html">기획전</a></li>
                        <li><a href="best.html">베스트</a></li>
                        <li class="active"><a href="mypage.html">마이페이지</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="tracking">
            <div class="tracking-subject">
                <p class="subject">주문/배송 현황</p>
                <p class="recent-3">최근 3개월 동안 구매한 상품</p>
            </div>
            <div class="tracking-step">
                <div class="product-step">
                    <p class="product-count">0</p>
                    <p>상품준비중</p>
                </div>
                <img src="../images/icons/right-arrow.png">
                <div class="product-step">
                    <p class="product-count">0</p>
                    <p>배송준비중</p>
                </div>
                <img src="../images/icons/right-arrow.png">
                <div class="product-step">
                    <p class="product-count">0</p>
                    <p>배송중</p>
                </div>
                <img src="../images/icons/right-arrow.png">
                <div class="product-step">
                    <p class="product-count">0</p>
                    <p>배송완료</p>
                </div>
            </div>
        </section>
        <section class="service-policy">
            <div class="service">
                <p class="service-subject">서비스</p>
                <div class="service-button">
                    <img src="../images/icons/order.png">
                    <p>주문 내역</p>
                    <img src="../images/icons/right-arrow-black.png">
                </div>

                <div class="service-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/548/548427.png">
                    <p>선물함</p>
                    <img src="../images/icons/right-arrow-black.png">
                </div>

                <div class="service-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/2438/2438167.png">
                    <p>쿠폰</p>
                    <img src="../images/icons/right-arrow-black.png">
                </div>

                <div class="service-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/8866/8866851.png">
                    <p>배송지관리</p>
                    <img src="../images/icons/right-arrow-black.png">
                </div>

                <div class="service-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/3602/3602145.png">
                    <p>입고 알림 내역</p>
                    <img src="../images/icons/right-arrow-black.png">
                </div>
            </div>

            <div class="policy">
                <p class="policy-subject">약관 및 정책</p>
                <div class="service-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/664/664477.png">
                    <p>배송지 정보 수집 및 이용 동의</p>
                    <img src="../images/icons/right-arrow-black.png">
                </div>
            </div>
        </section>
    </div>
</body>

</html>