<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StarBucks Clone Site">
    <meta name="keywords" content="StarBucks, Clone, Site">
    <meta name="author" content="SpaLand">
    <link rel="stylesheet" href="../css/style.css">
    <title>StarBucks Clone Site</title>
</head>

<body>
    <header class="signup-header">
        <div class="signup-header-cancel">
            <a href="index.html"><img src="https://cdn-icons-png.flaticon.com/512/864/864393.png"/></a>
        </div>
    </header>

    <section class="signup-logo">
        <img src="https://www.starbucks.co.kr/common/img/common/logo.png"/>
    </section>

    <section class="signup-notice">
        <p class="customer">고객님</p>
        <p class="welcome">환영합니다!</p>
    </section>

    <section class="signup-policy">
        <div class="signup-policy-top">
            <input type="checkbox">
            <p>약관 전체동의</p>
        </div>
        <div class="signup-policy-bottom">
            <div class="signup-policy-bottom-list">
                <div class="signup-policy-bottom-list-subject">
                    <input type="checkbox">
                    <p>이용약관 동의(필수)</p>
                </div>
                <img src="../images/icons/right-arrow-black.png">
            </div>
            <div class="signup-policy-bottom-list">
                <div class="signup-policy-bottom-list-subject">
                    <input type="checkbox">
                    <p>개인정보 수집 및 이용동의(필수)</p>
                </div>
                <img src="../images/icons/right-arrow-black.png">
            </div>

            <div class="signup-policy-bottom-list">
                <div class="signup-policy-bottom-list-subject">
                    <input type="checkbox">
                    <p>광고성 정보 수신동의(선택)</p>
                </div>
                <img src="../images/icons/right-arrow-black.png">
            </div>
        </div>
        <div class="signup-policy-bottom-method">
            <p>광고성 정보 수신 방법(선택)</p>
            <div class="signup-policy-bottom-method-category">
                <input type="checkbox" id="E-mail">
                <p>E-mail</p>
                <input type="checkbox">
                <p>SMS</p>
            </div>
        </div>
    </section>

    <footer class="signup-footer">
        <a href="identity.html"><div class="signup-next-btn">
            <p>다음</p>
        </div></a>
    </footer>
</body>

</html>